@charset "utf-8";
@font-face {
  font-family: 'Hemi-Head-Bd-It';
  src: url('src/font/Hemi-Head-Bd-It.otf') format('opentype');
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('src/font/Pretendard-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Pretendard-Medium';
  src: url('src/font/Pretendard-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('src/font/Pretendard-SemiBold.otf') format('opentype');
}
@font-face { 
  font-family: 'Pretendard-Bold';
  src: url('src/font/Pretendard-Bold.otf') format('opentype');
}


/* 변수설정 */
:root {
  --color-black-main: #0d0d0d;
  --color-gray-42: #424242;
  --color-gray-92: #929292;
  --font-family-hemi-head-bd-it: 'Hemi-Head-Bd-It';
  --font-family-pretendard-regular: 'Pretendard-Regular';
  --font-family-pretendard-medium: 'Pretendard-Medium';
  --font-family-pretendard-semibold: 'Pretendard-SemiBold';
  --font-family-pretendard-bold: 'Pretendard-Bold';
}

/* 전체설정 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: var(--font-family-pretendard-regular);
}
ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
img {
  vertical-align: bottom;
}
body {
  background-color: var(--color-black-main);
  position: relative;
  height: 50000px;
}






/* warningBox 설정 */
.warningBox {
  width: 100%;
  padding: 60px;
  border-bottom: 1px solid var(--color-gray-42);
}
.warningBox p {
  font-size: 48px;
  font-family: var(--font-family-pretendard-medium);
  display: flex;
  justify-content: center;
}
/* header 설정 */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 28px 60px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}
header h1 {
  cursor: pointer;
}
header h1 img {
}
header nav {
  display: flex;
  gap: 60px;
}
header nav > div {
  font-size: 30px;
  font-family: var(--font-family-hemi-head-bd-it);
  cursor: pointer;
}


/* .viewport 설정 */
.viewport {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  overflow: hidden;
}
/* .contentsWrap 설정 */
.contentsWrap {
  width: 100%;
  height: 100vh;
  position: relative;
}
/* .contentsWrap .conMain-ellipseBox {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
} */
 /* conMain 설정 */
.conMain-ellipseBox .conMain-ellipse {
  /* background-image: url("src/ellipse-pink.png");
  background-repeat: no-repeat;
  background-size: cover; */
  /* width: 0%;
  height: 0%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* --------------- */
}
.conMain-ellipseBox2 {
  width: 0px;
  aspect-ratio: 1.9 / 1;
  background-color: #F81884;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-15deg);
}

.conMain-products {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.3);
  filter: blur(10px);
  opacity: 0.4;
}

.conMain-products img {}
.conMain-text {
  position: absolute;
}
.conMain-text img {}
.conMain-text.beMore {
  top: 10%;
  right: 100%;
}
.conMain-text.dynamic {
  bottom: 10%;
  left: 100%;
}
/* conMain-centerBox 설정 */
.conMain-centerBox {
  /* background-color: red; */
  width: 900px;
  height: 900px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.conMain-products2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.conMain-products2 img {}
.conMain-text2 {
  opacity: 0;
}
.conMain-text2 .title {
  font-family: var(--font-family-pretendard-bold);
  font-size: 50px;
  width: 392px;
  line-height: 1.5;
  position: absolute;
  top: 18%;
  right: 100%;
}
.conMain-text3 {
  position: absolute;
  top: 18%;
  right: 100%;
  opacity: 0;
}
.conMain-text3 .count {
  font-family: var(--font-family-pretendard-bold);
  color: #11D96B;
  font-size: 137px;
  display: flex;
  align-items: baseline;
  gap: 24px;
}
.conMain-text3 .count span {
  font-family: var(--font-family-pretendard-bold);
  font-size: 64px;
}
.conMain-text3 .title {
  font-family: var(--font-family-pretendard-bold);
  font-size: 50px;
  line-height: 1.5;
}
.conMain-text4 {
  position: absolute;
  bottom: 18%;
  left: 100%;
  white-space: nowrap;
  opacity: 0;
}
.conMain-text4 .detail {
  font-family: var(--font-family-pretendard-bold);
  color: var(--color-gray-92);
  font-size: 25px;
  margin-bottom: 42px;
}
.conMain-text4 .detail span {
  font-family: var(--font-family-pretendard-bold);
  font-size: 32px;
  margin-left: 24px;
}
.conMain-products3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.conMain-product3 img {}
.conMain-text5 {
  position: absolute;
  top: 18%;
  right: 100%;
  white-space: nowrap;
  opacity: 0;
}
.conMain-text5 .title {
  font-family: var(--font-family-pretendard-bold);
  font-size: 50px;
  margin-bottom: 40px;
}
.conMain-text5 .detail {
  font-family: var(--font-family-pretendard-bold);
  color: var(--color-gray-92);
  font-size: 25px;
  margin-bottom: 42px;
}
.conMain-text5 .detail span {
  font-family: var(--font-family-pretendard-bold);
  font-size: 32px;
  margin-left: 24px;
}
.conMain-text6 {
  position: absolute;
  bottom: 18%;
  left: 100%;
  white-space: nowrap;
  opacity: 0;
}
.conMain-text6 .title {
  font-family: var(--font-family-pretendard-bold);
  font-size: 50px;
  margin-bottom: 40px;
}
.conMain-text6 .batteryDetailBox {
  display: flex;
  gap: 80px;
}
.conMain-text6 .batteryDetailBox .detail{
  font-size: 25px;
  font-family: 'Pretendard-Medium';
  display: flex;
  align-items: center;
}
.conMain-text6 .batteryDetailBox .detail img{
  margin-right: 28px;
}

 /* conQuality 설정 */
 .conQuality-bestQuality {
  width: 2643px;
  height: 416px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  opacity: 0;
 }
 .conQuality-bestQuality img {
  position: absolute;
 }
 .conQuality-bestQuality img.afterimage {
  /* background-color: beige; */
 }
 .conQuality-bestQuality img.forward {
  /* background-color: blue; */
 }
 .conQuality-text1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 78px;
 }
 .conQuality-text1 .detail {
  font-size: 30px;
  font-family: var(--font-family-pretendard-bold);
  opacity: 0;
 }
 .conQuality-text1 .detail b {
  font-size: 50px;
  margin: 0 8px;
 }
 .conQuality-text2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 78px;
 }
 .conQuality-text2 img {
  opacity: 0;
 }
 .conQuality-text2 .detail {
  font-size: 30px;
  font-family: var(--font-family-pretendard-bold);
  opacity: 0;
 }
 .conQuality-text2 .detail b {
  font-size: 50px;
  margin: 0 8px;
 }
 .conQuality-text3 {
  position: absolute;
  top: 40%;
  left: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
 }
 .conQuality-text3 .detail {
  font-size: 50px;
  font-family: var(--font-family-pretendard-bold);
  opacity: 0;
 }
 .conQuality-text4 {
  width: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 80px;
 }
 .conQuality-text4 .imgBox {
  display: flex;
  flex-wrap: wrap;
 }
 .conQuality-text4 .imgBox img {
  width: 50%;
  opacity: 0;
 }
 .conQuality-text4 .detail {
  font-size: 74px;
  font-family: var(--font-family-pretendard-bold);
  line-height: 1.5;
  width: 1600px;
  display: flex;
  align-items: flex-end;
  opacity: 0;
 }