@charset "utf-8";
@font-face {
  font-family: 'Hemi-Head-Bd-It';
  src: url('src/font/Hemi-Head-Bd-It.otf') format('opentype');
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('src/font/Pretendard-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Pretendard-Medium';
  src: url('src/font/Pretendard-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('src/font/Pretendard-SemiBold.otf') format('opentype');
}
@font-face { 
  font-family: 'Pretendard-Bold';
  src: url('src/font/Pretendard-Bold.otf') format('opentype');
}


/* 변수설정 */
:root {
  --color-black-main: #0d0d0d;
  --color-gray-42: #424242;
  --color-gray-92: #929292;
  --color-gray-b1: #B1B1B1;
  --color-world-international: #50D6D1;
  --font-family-hemi-head-bd-it: 'Hemi-Head-Bd-It';
  --font-family-pretendard-regular: 'Pretendard-Regular';
  --font-family-pretendard-medium: 'Pretendard-Medium';
  --font-family-pretendard-semibold: 'Pretendard-SemiBold';
  --font-family-pretendard-bold: 'Pretendard-Bold';
  --font-size-rem-from-1px: 0.063rem;
}

/* 전체설정 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: var(--font-family-pretendard-regular);
}
ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
img {
  vertical-align: bottom;
}
body {
  background-color: var(--color-black-main);
  position: relative;
  height: 50000px;
}






/* warningBox 설정 */
.warningBox {
  width: 100%;
  padding: 1.5vw;
  border-bottom: 1px solid var(--color-gray-42);
}
.warningBox p {
  font-size: 1.5vw;
  line-height: 1.5;
  font-family: var(--font-family-pretendard-medium);
  display: flex;
  justify-content: center;
}
/* header 설정 */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.3vw;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}
header h1 {
  cursor: pointer;
}
header h1 img {
  width: 9vw;
}
header nav {
  display: flex;
  gap: 3vw;
  align-items: center;
  margin-right: 0.5vw;
}
header nav > div {
  font-size: 1.2vw;
  font-family: var(--font-family-hemi-head-bd-it);
  cursor: pointer;
}


/* .viewport 설정 */
.viewport {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  overflow: hidden;
}
/* .contentsWrap 설정 */
.contentsWrap {
  width: 100%;
  height: 100vh;
  position: relative;
}

.conMain-ellipseBox {
  width: 10vw;
  height: 5vw;
  background-color: #F81884;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-15deg);
  opacity: 0;
  transform-origin: center center;
}

.conMain-products {
  width: 28vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.4);
  filter: blur(30px);
  opacity: 0.4;
}

.conMain-products img {
  width: 100%;
}
.conMain-text {
  position: absolute;
}
.conMain-text.beMore {
  top: 10%;
  right: 100%;
  width: 48vw;
}
.conMain-text.dynamic {
  bottom: 4%;
  left: 100%;
  width: 48vw;
}
.conMain-text img {
  width: 100%;
}
/* conMain-centerBox 설정 */
.conMain-centerBox {
  width: 27vw;
  height: 37vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.conMain-products2 {
  width: 100%;
  height: 100%;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conMain-products2 img {
  height: 100%;
}
.conMain-text2 {
  position: absolute;
  top: 28%;
  right: 100%;
  opacity: 0;
}
.conMain-text2 .title {
  font-family: var(--font-family-pretendard-bold);
  font-size: 2.6vw;
  width: 20vw;
  line-height: 1.5;
}
.conMain-text3 {
  position: absolute;
  width: 30vw;
  top: 1%;
  left: 105%;
  /* opacity: 0; */
}
.conMain-text3 .count {
  display: flex;
  align-items: baseline;
  gap: 24px;
}
.conMain-text3 .count b {
  font-family: var(--font-family-pretendard-bold);
  color: #11D96B;
  font-size: 6vw;
}
.conMain-text3 .count span {
  font-family: var(--font-family-pretendard-bold);
  font-size: 3.4vw;
}
.conMain-text3 .title {
  font-family: var(--font-family-pretendard-bold);
  font-size: 2.6vw;
  line-height: 1.5;
}
.conMain-text4 {
  position: absolute;
  top: 75%;
  left: 105%;
  white-space: nowrap;
  /* opacity: 0; */
}
.conMain-text4 .detail {
  font-family: var(--font-family-pretendard-bold);
  color: var(--color-gray-92);
  /* font-size: 25px; */
  font-size: 1vw;
  margin-bottom: 2vw;
}
.conMain-text4 .detail span {
  font-family: var(--font-family-pretendard-bold);
  font-size: 1.3vw;
  margin-left: 1vw;
}
.conMain-products3 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.conMain-products3 img {
  width: 90%;
}
@keyframes light {
  0% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0.7;
  }
}
.conMain-products3 img.light {
  position: absolute;
  top: 47%;
  right: 20%;
  width: 7%;
  animation: light 1s infinite alternate;
}
.conMain-text5 {
  position: absolute;
  top: 18%;
  right: 100%;
  white-space: nowrap;
  opacity: 0;
}
.conMain-text5 .title {
  font-family: var(--font-family-pretendard-bold);
  font-size: 50px;
  margin-bottom: 40px;
}
.conMain-text5 .detail {
  font-family: var(--font-family-pretendard-bold);
  color: var(--color-gray-92);
  font-size: 25px;
  margin-bottom: 42px;
}
.conMain-text5 .detail span {
  font-family: var(--font-family-pretendard-bold);
  font-size: 32px;
  margin-left: 24px;
}
.conMain-text6 {
  position: absolute;
  bottom: 18%;
  left: 100%;
  white-space: nowrap;
  opacity: 0;
}
.conMain-text6 .title {
  font-family: var(--font-family-pretendard-bold);
  font-size: 50px;
  margin-bottom: 40px;
}
.conMain-text6 .batteryDetailBox {
  display: flex;
  gap: 80px;
}
.conMain-text6 .batteryDetailBox .detail{
  font-size: 25px;
  font-family: 'Pretendard-Medium';
  display: flex;
  align-items: center;
}
.conMain-text6 .batteryDetailBox .detail img{
  margin-right: 28px;
}

 /* conQuality 설정 */
 .conQuality-bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }
 .conQuality-bestQuality {
  width: 2643px;
  height: 416px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  opacity: 0;
 }
 .conQuality-bestQuality img {
  position: absolute;
 }
 .conQuality-bestQuality img.afterimage {
  /* background-color: beige; */
 }
 .conQuality-bestQuality img.forward {
  /* background-color: blue; */
 }
 .conQuality-text1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 78px;
 }
 .conQuality-text1 .detail {
  font-size: 30px;
  font-family: var(--font-family-pretendard-bold);
  opacity: 0;
 }
 .conQuality-text1 .detail b {
  font-size: 50px;
  margin: 0 8px;
 }
 .conQuality-text2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 78px;
 }
 .conQuality-text2 img {
  opacity: 0;
 }
 .conQuality-text2 .detail {
  font-size: 30px;
  font-family: var(--font-family-pretendard-bold);
  opacity: 0;
 }
 .conQuality-text2 .detail b {
  font-size: 50px;
  margin: 0 8px;
 }
 .conQuality-text3 {
  position: absolute;
  top: 40%;
  left: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
 }
 .conQuality-text3 .detail {
  font-size: 50px;
  font-family: var(--font-family-pretendard-bold);
  opacity: 0;
 }
 .conQuality-text4 {
  width: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 80px;
 }
 .conQuality-text4 .imgBox {
  display: flex;
  flex-wrap: wrap;
 }
 .conQuality-text4 .imgBox img {
  width: 50%;
  opacity: 0;
 }
 .conQuality-text4 .detail {
  font-size: 74px;
  font-family: var(--font-family-pretendard-bold);
  line-height: 1.5;
  width: 1600px;
  display: flex;
  align-items: flex-end;
  opacity: 0;
 }
 .conQuality-experts {
  position: absolute;
  width: 100%;
  height: 100vh;
 }
 .conQuality-experts img {
  position: absolute;
  opacity: 0;
 }
 .conQuality-experts img.imgExperts {
  height: 100vh;
 }
 .conQuality-experts img.imgGradient {
  height: 100vh;
 }
 .conQuality-experts-text {
  width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 62px;
 }
.conQuality-experts-text .detail {
  font-size: 30px;
  font-family: var(--font-family-pretendard-bold);
  opacity: 0;
 }
 .conQuality-experts-text .detail.index1 {
  text-align: right;
 }
.conQuality-experts-text .detail b {
  font-size: 50px;
  margin: 0 8px;
 }

  /* conFlavor 설정 */
  .conFlavor {
    position: relative;
    width: 100%;
    height: 100vh;
    opacity: 0;
  }
  .conFlavor-bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #393939;
  }
  .conFlavor-title {
    font-family: var(--font-family-hemi-head-bd-it);
    color: #fff;
    font-size: 42px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .conFlavor .conFlavor-description {
    position: absolute;
    top: 50%;
    left: calc(10% - 100px);
    transform: translate(0%, -50%);
  }
  .conFlavor .conFlavor-description img {}
  .conFlavor .conFlavor-imgs {
    width: 60vw;
    position: absolute;
    /* background-color: red; */
    top: 17%;
    right: -150px;

  }
  .conFlavor .conFlavor-imgs .swiper{
    padding-right: 60px;
  }
  .conFlavor .conFlavor-imgs .swiper-wrapper {}
  .conFlavor .conFlavor-imgs .swiper-slide {
    transform: scale(0.4);
    transition: all 0.4s;
    position: relative;
  }
  .conFlavor .conFlavor-imgs .swiper-slide-active {
    transform: scale(0.8);
    margin: 0 60px;
  }
  .conFlavor .conFlavor-imgs .swiper-slide img {
    height: 860px;
  }
  .conFlavor .conFlavor-imgs .swiper-slide .gradientBox {
    position: absolute;
    background: linear-gradient(180deg, transparent 0%, #393939 100%);
    width: 100%;
    height: 250px;
    bottom: 0;
    margin: 0 60px;
  }

  /* conAboutUs 설정 */
  .conAboutUs {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 0;
  }
  .conAboutUs .blurCircle {
    background-color: #B0F2F0;
    width: 414px;
    height: 414px;
    border-radius: 50%;
    filter: blur(120px);
    position: absolute;
  }
  .conAboutUs .blurCircle.index0 {
    top: -100px;
    left: -100px;
  }
  .conAboutUs .blurCircle.index1 {
    bottom: -100px;
    right: -100px;
  }
  .conAboutUs-title {
    font-family: var(--font-family-hemi-head-bd-it);
    color: var(--color-black-main);
    font-size: 42px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  .conAboutUs-descriptionBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 76px;
    position: absolute;
    top: calc(50% + 40px);
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .conAboutUs-descriptionBox img {
    width: 120px;
    opacity: 0;
  }
  .conAboutUs-descriptionBox .introduce {
    font-size: 45px;
    font-family: var(--font-family-pretendard-bold);
    white-space: nowrap;
    color: var(--color-black-main);
    opacity: 0;
  }
  .conAboutUs-descriptionBox .introduce b {
    font-size: 70px;
    color: var(--color-world-international);
    margin: 0 8px;
  }
  .conAboutUs-descriptionBox .promise {
    color: #cecece;
    font-size: 24px;
    font-family: var(--font-family-pretendard-medium);
    opacity: 0;
  }
  .conAboutUs-descriptionBox button {
    background-color: var(--color-world-international);
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid var(--color-world-international);
    padding: 18px 28px;
    font-family: var(--font-family-pretendard-bold);
    font-size: 22px;
    transition: all 0.2s;
    opacity: 0;
  }
  .conAboutUs-descriptionBox button:active {
    background-color: #fff;
    color: var(--color-world-international);
  }